{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}
{% block titletag %}{% trans "Link Checker Results" %}{% endblock %}
{% block bodyclass %}menu-linkchecker{% endblock %}
{% block content %}

    {% include "wagtailadmin/shared/header.html" with title="Link Checker" icon="link" %}

    <div class="nice-padding">

      <form>
        <select name="groupby" onchange="history.replaceState(null, null, '?'+$(this.form).serialize()); history.go(0)">
          {% for key, name in groupables.items %}
          <option value="{{key}}"
                  {% if groupby == key %}selected{% endif %}
                  >
            {% trans 'Group by' %} {{name}}
          </option>
          {% endfor %}
        </select>
      </form>

      <h2>{% blocktrans %}Results{% endblocktrans %}</h2>

      {% for panel in panels %}
      {% component panel %}
      {% endfor %}

      <a href="{% url 'wagtaillinkchecker' %}" class="button bicolor icon icon-arrow-left">{% blocktrans %}Back{% endblocktrans %}</a>
    </div>
    {% endblock %}
