{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}
{% block titletag %}{% trans "Link Checker Results" %}{% endblock %}
{% block bodyclass %}menu-linkchecker{% endblock %}
{% block content %}

{% include "wagtailadmin/shared/header.html" with title="Link Checker" icon="link" %}

<div class="nice-padding">

  <section class="w-panel full">
    <form onchange="history.replaceState(null, null, '?'+$(this).serialize()); history.go(0)">
      <select name="resultclass">
        {% for key, name in resultclasses.items %}
        <option value="{{key}}"
                {% if resultclass == key %}selected{% endif %}
                >
                {{name}}
        </option>
        {% endfor %}
      </select>
      <select name="groupby">
        {% for key, name in groupables.items %}
        <option value="{{key}}"
                {% if groupby == key %}selected{% endif %}
                >
                {% trans 'Grouped by' %} {{name}}
        </option>
        {% endfor %}
      </select>
    </form>
  </section>

  {% for link_group in link_groups %}
  <section class="w-panel full" id="panel-child-scan-{{link_group.sectionname}}-section" aria-labelledby="panel-child-scan-{{link_group.sectionname}}-heading" data-panel="">
    <div class="w-panel__header">
      <a class="w-panel__anchor w-panel__anchor--prefix" href="#panel-child-scan-{{link_group.sectionname}}-section" data-panel-anchor="" aria-labelledby="panel-child-scan-{{link_group.sectionname}}-heading">
        <svg class="icon icon-link w-panel__icon" aria-hidden="true"><use href="#icon-link"></use></svg>
      </a>
      <button class="w-panel__toggle" type="button" aria-label="Toon/verberg sectie" aria-describedby="panel-child-scan-{{link_group.sectionname}}-heading" data-panel-toggle="" aria-controls="panel-child-scan-{{link_group.sectionname}}-content" aria-expanded="true">
        <svg class="icon icon-arrow-down-big w-panel__icon" aria-hidden="true"><use href="#icon-arrow-down-big"></use></svg>
      </button>
      <h2 class="w-panel__heading w-panel__heading--label" id="panel-child-scan-{{link_group.sectionname}}-heading" data-panel-heading="">
        {{link_group.sectiontitle}}
      </h2>
      <a class="w-panel__anchor w-panel__anchor--suffix" href="#panel-child-scan-{{link_group.sectionname}}-section" aria-labelledby="panel-child-scan-{{link_group.sectionname}}-heading">
        <svg class="icon icon-link w-panel__icon" aria-hidden="true"><use href="#icon-link"></use></svg>
      </a>
      <div class="w-panel__divider"></div>
    </div>
    <div id="panel-child-scan-{{link_group.sectionname}}-content" class="w-panel__content">

      {% for link in link_group.list %}
      {% include 'wagtaillinkchecker/link.html' %}
      {% endfor %}

    </div>
  </section>
  {% endfor %}

  <a href="{% url 'wagtaillinkchecker' %}" class="button bicolor icon icon-arrow-left">{% blocktrans %}Back{% endblocktrans %}</a>
</div>
{% endblock %}
